main{
    margin:-8vw 5vw 0 5vw;
    display: flex;
}
.projects{
    position:relative;
    display: flex;
}
.projects > div {
    width: 100%;
    margin-right: 2vw;
}
.projects > div .imgcon {
    height: 24vw;
    width:24vw;
    overflow: hidden;
    background-color: hotpink;
}
.projects > div >div >img{
    height: 100%;
    width: auto;
    box-shadow: 5px 5px 23px lightgrey;
}

.conttext{
    display: flex;
    height: 2vw;
    width: 100%;
    margin: 0;
}
.conttext h1{
    font-size: 1.5vw;
    line-height: 2vw;
    height: 2vw;
}
.projects > div > p{
    padding: 1vw;
}
.projects > div > a{
    margin-left: 17vw;
    font-size: 1.2vw;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10vw;
    color: black;
}
.projects > div > a:hover{
    color: white;
    background-color: lightgrey;
    border: none;
}
.conttext .grey{
    background-color: lightgray;
    width: 5px;
    height: 2vw;
    margin: 1vw 1vw 0 0;
    position: relative;
}
ul {
    position: static;
    margin:0 2vw 0 0;
    width: 100%
}
ul li{
    list-style-type: none;
    
}
ul li a {
    color: black;
    text-decoration: none;
}
ul li a h1{
    font-size: 1.5vw;
    font-weight: 200;
    margin-right: 1vw;
    text-align: right;
    
}
ul li a h1 .grey{
    background-color: lightgray;
    width: 5px;
    height: 1.5vw;
    position: fixed;
    margin: -1.5vw 0vw 0vw 13vw;
}
ul li a p {
    margin-top: 0;
    position: fixed;
    visibility: hidden;
}

ul li a h1:hover{
    font-weight: 600;
}
ul li a h1:hover + p{
    position: sticky;
    visibility: visible;
}

